 
 @font-face {
    font-family: 'LaBelleAurore';
    src: url('fonts/LaBelleAurore.svg') format('svg'),
         url('fonts/LaBelleAurore.ttf') format('truetype'),
         url('fonts/LaBelleAurore.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
 
  * {
    box-sizing: border-box;
  }
  
 
 body {
    background-color: aqua;
    
}
 
 /* The navigation bar */
 .navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    background-image: linear-gradient(aquamarine, lightblue);
    padding: 16px;
    margin-top: 30px;
    width: 100%;
  }

.home{
  background-image: linear-gradient(aquamarine, lightblue);
  padding: 16px;
  margin-top: 30px;
  width: 100%;
  clear:both;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row{
  clear: both;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
